* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.helio {
  width: 65%;
}

img:not([src^='https://heliotraining.com']) {
  width: 235px;
  float: left;
}

html {
  background-color: #3a393a;
}

.page-wrap {
  width: 960px;
  margin: 0 auto;
}

.col-lg-6 h2 {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

h2 {
  color: #ffc01f;
  font-size: 20px;
  float: left;
}

time {
  float: right;
  color: #cdcdcd;
}

h4 {
  float: left;
  color: #ffc01f;
  font-size: 17px;
  margin: 5px 10px 1px 10px;
}

ul {
  margin: 15px 0px 5px -15px;
}

li {
  margin: 0px 0px 5px;
}

.row {
  width: 74%;
  color: #cdcdcd;
  background: #585858;
  float: left;
  padding: 10px;
  padding-bottom: 85px;
  margin-top: 10px;
}

.row2 {
  width: 100%;
  color: #cdcdcd;
  background: #585858;
  float: left;
  padding: 10px;
  margin: 10px 0px 50px 0px;
}

[class*=col-lg-] {
  float: left;
}

.col-lg-1 {
  width: 26%;
}

.col-lg-6 {
  width: 74%;
}

.col-lg-3 {
  width: 235px;
  display: inline-block;
  float: left;
  margin-top: 40px;
  padding-right: 20px;
}

div.col-lg-3 figure {
  width: 100%;
}

div.col-lg-3 img {
  width: 100%;
  height: 100%;
}

figure {
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

figcaption {
  display: block;
  float: left;
  position: absolute;
  bottom: 0;
  color: white;
  width: 220px;
  height: 50px;
  padding: 10px;
  margin: 0px 0px -35px 0px;
  background: rgba(0, 0, 0, 0.5);
}

.col-lg-12 {
  width: 100%;
  float: left;
  padding: 10px;
  margin: 20px -10px -25px;
}

section {
  margin: 5px 10px 30px;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  background-color: #545353;
  text-align: center;
}
